.logo{
    margin-top: 15px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-size: 30px;
    font-weight: 700;
    color: #EF3C03;
    font-family: 'Poppins', sans-serif;
}
.butons button{
    margin-right: 50px;
    color: #347222;
    border: 1px solid #347222;
}