
.test__content{
    width: 40%;
    margin: auto;
}
.card__body h6{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #347222;
}
.card__test .items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.card__test{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #347222;
    height: 270px;
}
.card__tests{
    width: 97%;
    margin: auto;
}
.card__test::-webkit-scrollbar{
    width: 4px;
}
.card__test::-webkit-scrollbar-track{
    background-color: #F4FCFF;
}
.card__test::-webkit-scrollbar-thumb{
    background-color:#347222;
}
.test .card__datas{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.test .item:nth-child(odd){
    border: 1px solid #94B590;
    border-radius: 3px;
    background-color: #F4FCFF;
    margin: 1px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #347222;
}
.test .item:nth-child(even) {
    color: #85C98A;
}
.total{
    margin-top: 20px;
}
.total__amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #94B590;
    background-color: #F4FCFF;
    color: #347222;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.total__amount h3{
    font-size: 20px;
    font-weight: 700;
}
.total__amount h5{
    font-size: 20px;
    font-weight: 700;
}
.payment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #347222;
    background-color: #F4FCFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.payment h3{
    font-size: 20px;
    font-weight: 600;
    color: #347222;
}
@media screen and (max-width:760px) {
    .test__content{
        width: 95%;
    }
    .test{
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .card__test{
        width: 100%;
    }
    .payment h3{
        font-size: 14px;
    }
}